.categoryItem:not(:last-child):after {
  content: " ";
  display: block;
  border: 1px solid #edeef1;
  width: 35%;
  margin: 15px auto 0;
}

.categoryItem {
  text-align: center;
  margin-top: 15px;
  padding: 0 10px;
}

.categoryItem:last-child {
  margin-bottom: 15px;
}

.categoryItem a {
  text-decoration: none;
  color: #000;
  font-style: italic;
  text-transform: capitalize;
}

.selectedCategory {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}
