.categoriesAside {
  border: 1px solid #edeef1;
  background: #fff;
  width: 25%;
  min-width: 150px;
}

.header {
  text-align: center;
  margin: 0;
  border-bottom: 1px solid #edeef1;
  padding: 10px 5px;
  color: #434c5b;
}

.categoriesList {
  list-style: none;
  padding: 0;
  margin: 0;
}
