.container {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  padding-top: 12px;
}

.container a {
  color: #8f949d;
}

.container a:hover {
  color: #434c5b;
}

.voteControl {
  text-decoration: none;
}

.voteCount {
  padding: 12px 0;
}
