.container {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.container span {
  color: #8f949d;
}

.container span:hover {
  color: #434c5b;
  cursor: pointer;
}

.voteControl {
  text-decoration: none;
}

.voteScore {
  padding: 12px 0;
  text-align: center;
}
